
(porkbun_tls) {
	tls {
		dns porkbun {
			api_key {$PORKBUN_API_KEY}
			api_secret_key {$PORKBUN_API_SECRET}
		}
	}
}

adguard.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:3002
}

homepage.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:3003
}

calibre.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8093
}

calibreui.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8092
}

prometheus.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:9090
}

grafana.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:3001
}

portainer.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:9443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

forgejo.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:3000
}

homeassistant.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8123
}

qbittorrent.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8080
}

radarr.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:7878
}

sonarr.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8989
}

prowlarr.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:9696
}

flaresolverr.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8191
}

filebrowser.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:8081
}

plex.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:32400
}

stash.{$HOMELAB_DOMAIN} {
	import porkbun_tls
	reverse_proxy 127.0.0.1:11111
}
