APP_KEY=SomeRandomStringOf32CharsExactly
APP_URL=https://firefly.anthonykubeka.com

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=replace_me

TZ=Africa/Johannesburg
TRUSTED_PROXIES=**
STATIC_CRON_TOKEN=replace_me_32_char_hex_string
