HOMEPAGE_VAR_ADGUARD_USER=admin
HOMEPAGE_VAR_ADGUARD_PASSWORD=replace_me
HOMEPAGE_VAR_PORTAINER_KEY=replace_me
HOMEPAGE_VAR_PLEX_TOKEN=replace_me
HOMEPAGE_VAR_QBT_USER=replace_me
HOMEPAGE_VAR_QBT_PASSWORD=replace_me
HOMEPAGE_VAR_RADARR_KEY=replace_me
HOMEPAGE_VAR_SONARR_KEY=replace_me
HOMEPAGE_VAR_HA_TOKEN=replace_me
